<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    <title>Smart Flood Detection</title>
</head>

<body>
    <div class="loginbox">
        <img src="/images/avatar.png" class="avatar">
        <h2>Admin Login</h2>
        <form>
            <p>Admin ID</p>
            <input type="text" name="" placeholder="Enter Admin ID">
            <p>Password</p>
            <input type="password" name="" placeholder="Enter Password">
            <input type="submit" name="" value="Login">
        </form>
    </div>
</body>

</html>